.characterCard{
    border: #00ba72 5px solid;
    background: rgba(94, 94, 94, 0.26);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    padding: 20px;

    /*width: 500px;*/
}

.details{
    color: #00ba72;
}

.cTable{
    display: flex;
}
.cTable1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 5px;
}
.cTable2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5px;
}

.rotate-center:hover {
    -webkit-animation: rotate-center 0.6s ease-in-out both;
    animation: rotate-center 0.6s ease-in-out both;
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}




h1 {
    animation-name: h1ColorPalette;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes h1ColorPalette {
    0% {
        color: #ff0000;
        letter-spacing: 10px;
    }
    25% {
        color: #f58300;
        letter-spacing: 20px;
    }
    50% {
        color: #ffce00;
        letter-spacing: 30px;
    }
    75% {
        color: #1aff00;
        letter-spacing: 20px;
    }
    100% {
        color: #009dff;
        letter-spacing: 10px;
    }
}

/*-------------------------------------------------*/


h3 {
    animation-name: h3ColorPalette;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes h3ColorPalette {
    0% {
        color: #48ff00;
    }

    50% {
        color: #ffce00;
    }
    100% {
        color: #009dff;
    }
}