.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  animation-name: backgroundColorPalette;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;

  font-family: "Annai MN";
}

@keyframes backgroundColorPalette {
  0% {
    background: #000000;
  }
  25% {
    background: #002a41;
  }
  50% {
    background: #004e6c;
  }
  75% {
    background: #0061a1;
  }
  100% {
    background: #2551be;
  }
}
/*---------------------------------------------------*/
.searchInput{
  /*width: 20%;*/
  margin-bottom: 2em;
  border-radius: 25px;
  font-size: 2em;
  color: #1aff00;
  border: #00ba72 2px solid;
  background-color: transparent;
}